* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
}
main {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    display: flex;
    width: 85%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 6px;
}
.info {
    padding: 50px;
    width: 50%;
}
.main-heading {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
    width: 70%;
}
span {
    color: hsl(277, 64%, 61%);
    font-family: 'Lexend deca'
}
.main-text {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter';
    line-height: 23px; 
    width: 75%;
}
.stat-section {
    display: flex;
    margin: 10% 0 0 0;
}
.stats {
    display: flex;
    margin: 0 8% 0 0;
    flex-direction: column; 
    align-items: flex-start;
}
.stat-heading {
    color:  hsl(0, 0%, 100%);
    margin: 0 0 3px 0;  
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
}
.stat-titles {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 11px;
    letter-spacing: 1px; 
    font-family: 'Inter';
    margin: 0;
}
.image-section {
    position: relative;
    width: 50%;
    background: url(images/image-header-desktop.jpg);
    background-size: cover;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 6px 6px 0px;
    background-color: rgba(56, 14, 83, 0.7);
    transition: 0.4s;
}
.image-overlay:hover {
    opacity: 0;
}
@media screen and (max-width: 840px) {
    main {
        height: auto;
        padding-top: 5%;
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .image-section {
        order: 1;
        width: 100%;
        height: 50vh;
        background: url(images/image-header-mobile.jpg);
        border-radius: 6px 6px 0px 0px;
        background-size: cover;
    }
    .image-overlay {
        border-radius: 6px 6px 0px 0px;
        height: 100%;
    }
    .info {
        order: 2;
        width: 100%;
        margin: 20px 0px 0px 0px;
        padding: 5%;
    }
    .main-heading {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 0;
        margin-bottom: 10px;
        width: 100%;
        padding: 0 8%;
    } 
    .main-text {
        text-align: center;
        font-size: 15px;
        width: 100%;
        padding: 0 8%;
    } 
    .stat-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; 
    }
    .stats {
        align-items: center;
        margin: 5% 0 0 0; 
    }
}
